body {

	&.tingle-enabled {

		div:not(.tingle-modal) {
			z-index: 0;
		}
	}

	&.noscroll {
		margin: 0;
		height: 100%;
		overflow: hidden;

		* {
			pointer-events: none;
		}

		.header__nav * {
			pointer-events: all;
		}
	}
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.header,
.content,
.footer {
	float: left;
	width: 100%;
}

.screen-reader-text {
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.skip-link {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	word-wrap: normal !important;

	&:focus {
		background-color: $color__wild-sand;
		clip: auto !important;
		clip-path: none;
		color: $color__mine-shaft;
		display: block;
		font-family: $font__secondary;
		font-size: 1em;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

.skip-to-content:focus {
	left: 260px;
	top: 22px;
}

.navigation-overlay {
	@include position(fixed, 0 0 0 0);
	pointer-events: all !important;
	z-index: 9 !important;
}

.nav-links {
	text-align: center;

	a {
		@extend .btn;
		margin-left: 20px;
		margin-right: 20px;
	}
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	speak-as: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\ea90";
}

.icon-instagram:before {
	content: "\ea92";
}

.icon-twitter:before {
	content: "\ea96";
}

.icon-github:before {
	content: "\eab0";
}

.icon-linkedin:before {
	content: "\eac9";
}

.icon-wordpress:before {
	content: "\e900";
}
