//////////
// MAPS //
//////////

.map {
	float: left;
	height: 400px;
	overflow: hidden;
	width: 100%;

	.map-container {
		height: 500px;
		margin-left: -50px;
		margin-top: -50px;
		width: calc(100% + 100px);
	}
}

#map {
	float: left;
	height: 500px;
	width: 100%;
}

	// @include grid-media($medium-screen-up)
	//     height: 600px
