////////////
// MODALS //
////////////

.modals {
	@include position(absolute, 0 null null -10000px);
	width: 0;
}

.tingle-modal {
	background: rgba($color-white, 0.6);
}

.tingle-modal-box {
	border-radius: 0;
}

.tingle-modal-box__content {
	box-shadow: $shadow-hover;
}

.tingle-enabled .tingle-content-wrapper {
	filter: blur(4px);
}

.small-modal .tingle-modal-box {
	max-width: 400px;
}
