/////////////
// BUCKETS //
/////////////

.buckets {
	display: block;
	float: left;
	margin-bottom: 100px;
	width: 100%;

	.buckets-inner {
		@include boxed-grid-container;

		.buckets-slim {
			@include grid-column(12);

			@include grid-media($medium-screen-up) {
				@include grid-column(10);
				@include grid-shift(1);
			}

			.buckets-slim-inner {
				@include grid-collapse;
			}
		}


		.bucket {
			@include grid-column(12);
			margin-bottom: 30px;

			@include grid-media($medium-screen-up) {
				@include grid-column(4);
				margin-bottom: 20px;
			}

			&.two {

				@include grid-media($medium-screen-up) {
					@include grid-column(6);
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}