/////////
// CTA //
/////////

.cta {
	background-color: $color-grey-lightest;
	display: block;
	float: left;
	margin-bottom: 80px;
	padding: 140px 0;
	width: 100%;

	@include grid-media($medium-screen-up) {
		margin-bottom: 140px;
	}

	.cta-inner {
		@include boxed-grid-container;

		.cta-content {
			@include grid-column(12);

			@include grid-media($medium-screen-up) {
				@include grid-column(8);
				@include grid-shift(1);
			}
		}
	}
}