////////////
// HEROES //
////////////

.hero {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	height: calc(100vh - 200px);
	min-height: 400px;
	position: relative;
	width: 100%;
	z-index: 1;

	.hero-left {
		@include grid-column(12);
	}

	.hero-right {
		@include grid-column(12);
	}

	.hero-content {
		@include grid-column(12);

		@include grid-media($medium-screen-up) {
			@include grid-column(9);
			@include grid-shift(1);
		}
	}


	p {
		color: $color-grey-medium;
		font-family: $font-secondary;
		font-weight: 400;
		line-height: 1.6;

		a {
			font-family: $font-secondary;
			font-weight: 400;
			line-height: 1.6;
		}

		&:last-of-type {
			margin-bottom: 50px;
		}
	}

	@include grid-media($medium-screen-up) {

		.hero-left {
			@include grid-column(4.5);
		}

		.hero-right {
			@include grid-column(7.5);
		}
	}
}

.ranking {
	float: left;
	height: 120px;
	margin-bottom: 160px;
	position: relative;
	width: 100%;
}
