.content__blocks,
.content__single {

    .wp-block-portfolio-blocks-page-heading {
        padding: 30px 0 0;

        @include grid-media($medium-screen-grid) {
            padding: 60px 0 40px;
        }

        .page-heading {

            span {
                font-family: $font__primary;
            }
        }

        + div,
        + h1,
        + h2,
        + h3,
        + h4,
        + h5,
        + h6,
        + p {
            padding-top: 60px;
        }
    }
}