@charset 'UTF-8';

@import 'bourbon';
@import 'neat';

@import 'partials/base/variables';
@import 'partials/base/grid-settings';
@import 'partials/base/fonts';

.edit-post-layout__content {
    @import 'partials/base/typography';
    @import 'partials/base/buttons';
}

.editor-post-title__block .editor-post-title__input {
    color: $color-grey;
	font-family: $font-primary;
	font-size: 36px;
	line-height: 1.3;

	@include grid-media($medium-screen-up) {
		font-size: 48px;
	}
}