.content {

    &__blocks {

        > div {
            padding-bottom: 60px;
            padding-top: 60px;

            @include grid-media($medium-screen-grid) {
                padding-bottom: 120px;
                padding-top: 120px;
            }
        }
    }

    &__main {
        @include grid-column(4);

        @include grid-media($medium-screen-grid) {
            @include grid-column(8);
        }
    }

    &__full-width {
        @include grid-column(4);

        @include grid-media($medium-screen-grid) {
            @include grid-column(12);
        }
    }

    &__aside {
        @include grid-column(4);

        @include grid-media($medium-screen-grid) {
            @include grid-column(4);
        }
    }
}