.content {

	&__blocks {

		> div {
			padding-bottom: 90px;
			padding-top: 90px;

			@include grid-media($medium-screen-grid) {
				padding-bottom: 120px;
				padding-top: 120px;
			}
		}

		> p,
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> ul,
		> blockquote {
			max-width: 1000px;

			+ div {
				margin-top: 90px;

				@include grid-media($medium-screen-grid) {
					margin-top: 120px;
				}
			}
		}
	}

	&__main {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(8);
		}
	}

	&__full-width {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(12);
		}
	}

	&__aside {
		@include grid-column(4);

		@include grid-media($medium-screen-grid) {
			@include grid-column(4);
		}
	}

	&__single {
		padding-top: 120px;

		> article {
			margin-left: auto;
			margin-right: auto;
			max-width: 800px;
			padding: 0 20px 90px;

			@include grid-media($medium-screen-grid) {
				padding: 0 40px 120px;
			}

			header {
				margin-bottom: 60px;
			}
		}
	}

	&__single,
	&__blocks {

		> p,
		> h1,
		> h2,
		> h3,
		> h4,
		> h5,
		> h6,
		> blockquote {
			box-sizing: border-box;
			margin-left: auto;
			margin-right: auto;
			padding: 0 20px;

			@include grid-media($medium-screen-grid) {
				// padding: 0 calc(10% + 40px) 0 40px;
				padding: 0 40px;
			}
		}

		ul:not(.content__tags) {
			margin-left: 20px;
			margin-bottom: 20px;

			li {
				margin-bottom: 0;

				ul {
					margin-bottom: 0;
				}
			}
		}

		> p {

			+ h1,
			+ h2,
			+ h3,
			+ h4,
			+ h5,
			+ h6 {
				margin-top: 30px;
			}
		}

		> *:last-child {
			padding-bottom: 90px;

			@include grid-media($medium-screen-grid) {
				padding-bottom: 120px;
			}
		}

		img {
			height: auto;
			max-width: 100%;
		}

		> *:last-child {
			padding-bottom: 90px;

			@include grid-media($medium-screen-grid) {
				padding-bottom: 120px;
			}
		}

		#breadcrumbs {
			box-sizing: content-box;
			margin-left: auto;
			margin-right: auto;
			max-width: 800px;
			padding: 0 20px 20px;

			@include grid-media($medium-screen-grid) {
				padding: 0 40px 20px;
			}
		}
	}

	&__tags {
		display: block;
		margin-left: 0;
		margin-top: 90px;

		li {
			display: inline;
			margin-right: 20px;

			a {
				background-color: transparent;
				border: 2px solid $color__mine-shaft;
				border-radius: 20px;
				color: $color__mine-shaft;
				padding: 10px 20px;
				text-decoration: none;
				transition: background-color 300ms ease, color 300ms ease;
			}

			&:hover {

				a {
					background-color: $color__mine-shaft;
					color: $color__white;
				}
			}
		}
	}
}
