.header {
	display: block;
	float: left;
	height: 82px;
	width: 100%;
    z-index: 10;

    &__logo {
        @include grid-column(2);
        padding: 32px 0;

        @include grid-media($medium-screen-grid) {
            @include grid-column(7);
        }

        a {
            color: $color__mine-shaft;
            font-family: $font__primary;
            font-size: 24px;
            font-weight: 700;
            text-decoration: none;
        }
    }

    &__nav {
        @include grid-column(2);
        padding-top: 22px;
        position: relative;
        z-index: 40;

        @include grid-media($medium-screen-grid) {
            @include grid-column(5);
        }
    }
}
