.nav {

	&__button {
		@include position(absolute, 0 0 null null);
		appearance: none;
		background-color: transparent;
		border: 0;
		cursor: pointer;
		margin-right: -20px;
		padding: 20px;
		z-index: 60;

		@include grid-media($medium-screen-grid) {
			margin-top: 5px;
		}

		&:hover {

			.hamburger {

				&__top,
				&__middle,
				&__bottom {
					width: 34px;
				}
			}
		}
	}

	&__container {

		&--primary-menu {
			@include position(fixed, 0 -80vw 0 null);
			align-items: center;
			background-color: $color__white;
			box-shadow: 0;
			box-sizing: border-box;
			display: flex;
			flex-flow: row wrap;
			overflow: scroll;
			padding: 100px 40px 40px;
			transition: right 300ms ease,
				box-shadow 300ms ease;
			width: 80vw;
			z-index: 50;

			@include grid-media($medium-screen-grid) {
				padding: 140px 40px 80px;
				right: -450px;
				width: 450px;
			}

			ul {
				box-sizing: border-box;
				display: block;
				float: left;
				width: 100%;

				li {
					display: block;
					float: left;
					position: relative;
					width: 100%;

					@include grid-media($medium-screen-grid) {

						&:hover {

							a {
								padding-left: 10px;

								&::before {
									background-color: $color__mine-shaft;
								}
							}
						}
					}

					a {
						box-sizing: border-box;
						color: $color__mine-shaft;
						float: left;
						font-family: $font__primary;
						font-size: 30px;
						font-weight: 700;
						line-height: 50px;
						padding-bottom: 10px;
						padding-left: 0;
						padding-top: 10px;
						text-decoration: none;
						transition: padding-left 300ms ease;
						width: 100%;

						@include grid-media($medium-screen-grid) {
							padding-left: 30px;
						}

						&::before {
							@include position(absolute, 0 null 0 -40px);
							background-color: transparent;
							content: '';
							transition: background-color 300ms ease;
							width: 4px;
						}
					}

					&.nav__item--is-current {

						a::before {
							background-color: $color__mine-shaft;
						}
					}
				}
			}
		}

		&--button-menu {
			@include position(fixed, 20px null null 120%);
			transition: left 300ms ease;
			z-index: 60;

			@include grid-media($medium-screen-grid) {
				@include position(relative, auto null null auto);
			}

			ul {
				display: block;
				float: right;
				padding-right: 120px;
				position: relative;

				li {

					a {
						white-space: nowrap;
					}
				}
			}
		}
	}

	&__item {
		margin-bottom: 0;
	}

	&.toggled {

		.nav__container--primary-menu {
			box-shadow: $shadow;
			right: 0;
		}

		.nav__container--button-menu {
			left: calc(20vw + 40px);

			@include grid-media($medium-screen-grid) {
				left: auto;
			}
		}

		.nav__button {

			.hamburger {

				&__top,
				&__middle,
				&__bottom {
					width: 34px;
				}

				&__top {
					top: 13px;
					transform: rotate(45deg);
				}

				&__middle {
					opacity: 0;
				}

				&__bottom {
					top: 13px;
					transform: rotate(-45deg);
				}
			}
		}
	}
}

.hamburger {
	display: block;
	height: 38px;
	position: relative;
	width: 42px;

	&__top,
	&__middle,
	&__bottom {
		background-color: $color__mine-shaft;
		border: 4px solid $color__white;
		border-radius: 6px;
		box-sizing: content-box;
		display: block;
		height: 4px;
		left: 0;
		position: absolute;
	}

	&__top {
		top: 3px;
		transition: left 300ms ease,
			top 300ms ease,
			transform 300ms ease,
			width 300ms ease;
		width: 26px;
	}

	&__middle {
		opacity: 1;
		top: 13px;
		transition: opacity 300ms ease;
		width: 34px;
	}

	&__bottom {
		top: 23px;
		transition: left 300ms ease,
			top 300ms ease,
			transform 300ms ease,
			width 300ms ease;
		width: 20px;
	}
}
