.blocks {

    > div:not( .wp-block-portfolio-hero ) {
        padding: 60px 0 40px;

        @include grid-media($medium-screen-up) {
            padding: 120px 0 100px;
        }
    }
}

.wp-block-button {
    display: inline-block;
}