/////////////
// CONTENT //
/////////////

.site-content {
	display: block;
	float: left;
	margin-bottom: 40px;
	width: 100%;

	@include grid-media($medium-screen-up) {
		margin-bottom: 90px;
	}
}

.content-inner {
	@include boxed-grid-container;
	position: relative;
	z-index: 1;

	.content-container {
		display: block;
		float: left;
		margin-bottom: 30px;
		width: 100%;
	}

	.content-area {

		&:not(.full-width) {
			@include grid-column(12);
		}
	}

	.widget-area {
		@include grid-column(12);
	}

	.content-left,
	.content-right {
		@include grid-column(12);
	}

	.posts-area {
		@include grid-column(10);
		@include grid-shift(1);
		padding-top: 100px;
	}

	.post {
		@include grid-column(4);
	}

	@include grid-media($medium-screen-up) {

		.content-area {

			&:not(.full-width) {
				@include grid-column(8);
			}

			&.full-width {
				display: block;
				float: left;
				width: 100%;
			}

			&:not(.single) {

				article {
					@include grid-column(4);
				}
			}
		}

		.widget-area {
			@include grid-column(6);
		}

		.content-left,
		.content-right {
			@include grid-column(6);
		}

		.post {
			@include grid-column(4);
		}
	}
}
