////////////
// HEADER //
////////////

.site-header {
	display: block;
	float: left;
	height: 82px;
	width: 100%;
	z-index: 10;

	.header-inner {
		@include boxed-grid-container;

		.logo {
			@include grid-column(7);
			padding: 36px 0;

			a {
				color: $color-grey;
				font-family: $font-primary;
				font-size: 24px;
				font-weight: 700;
				text-decoration: none;
			}
		}


		.main-navigation {
			@include grid-column(5);
			margin-top: 22px;
			position: relative;
			z-index: 40;

			.menu-toggle {
				appearance: none;
				background-color: $color-grey;
				border: 4px solid $color-white;
				border-radius: 10px;
				cursor: pointer;
				float: right;
				height: 12px;
				margin-top: 12px;
				outline: none;
				position: relative;
				text-indent: -9999px;
				transition: all 300ms ease;
				width: 38px;
				z-index: 100;

				&:before,
				&:after {
					background-color: $color-grey;
					border: 4px solid $color-white;
					border-radius: 6px;
					cursor: pointer;
					content: '';
					height: 4px;
					outline: none;
					position: absolute;
					transition: all 300ms ease;
				}

				&::before {
					left: -4px;
					right: 1px;
					top: -14px;
				}

				&::after {
					bottom: -14px;
					left: -4px;
					right: 6px;
				}

				&:hover {

					&::before,
					&::after {
						right: -4px;
					}
				}
			}


			ul {
				display: block;
				float: right;
				margin: 0;
				padding: 30px;
				transition: left 300ms ease;

				li {
					display: block;
					float: left;
					line-height: 1;
					width: 100%;

					&.btn {
						margin-top: 0;
						padding: 0;
					}

					a {
						box-sizing: border-box;
						color: $color-grey;
						display: block;
						float: left;
						font-family: $font-secondary;
						font-size: 15px;
						line-height: 1;
						padding: 15px 30px 13px;
						text-decoration: none;
						width: 100%;
					}

					&:last-child {
						border-bottom: 0;

						&:not(.btn) {

							a {
								padding-right: 0;
							}
						}
					}
				}
			}


			.button-menu {
				display: none;
			}

			.navigation-menu {
				@include position(fixed, 0 -80vw 0 null);
				align-items: center;
				background-color: $color-white;
				box-shadow: 0;
				box-sizing: border-box;
				display: flex;
				flex-flow: row wrap;
				overflow: scroll;
				padding: 80px 40px;
				transition: all 300ms ease;
				width: 80vw;
				z-index: 50;

				ul {
					display: block;
					float: left;
					width: 100%;
				}

				li {
					display: block;
					float: left;
					width: 100%;

					a {
						font-family: $font-primary;
						font-size: 30px;
						font-weight: 700;
						line-height: 50px;
						transition: all 300ms ease;
					}

					&:hover {

						a {
							padding-left: 10px;
						}
					}
				}
			}


			&.toggled {

				.navigation-menu {
					box-shadow: $shadow;
					right: 0;
				}

				.menu-toggle {
					background-color: transparent;

					&::before,
					&::after {
						right: -4px;
					}

					&::before {
						top: -4px;
						transform: rotate(45deg);
					}

					&::after {
						bottom: -4px;
						transform: rotate(-45deg);
					}
				}
			}
		}


		@include grid-media($medium-screen-up) {

			.logo {
				@include grid-column(5);
			}

			.main-navigation {
				@include grid-column(7);
				display: block;

				.menu-toggle {
					margin-left: 60px;
					margin-top: 15px;
				}

				ul {
					@include position(relative, auto auto auto auto);
					background-color: transparent;
					padding: 0;

					li {
						border-bottom: 0;
						display: inline-block;
						padding: 0 10px;
						width: auto;

						&:last-child {
							padding-right: 0;
						}
					}
				}


				.button-menu {
					display: block;
				}

				.navigation-menu {
					right: -50vw;
					width: 50vw;
				}
			}
		}
	}
}
